<%- include('_header.ejs', { title: `Банлист`, userLogin: userLogin }) %>
<section class="container mb-5">
  <div class="h-bl">
      <div class="row">
          <div class="col-md-4">
              <img src="/static/img/Group 2.png" alt="" width="90%">
          </div>
          <div class="col-md-8">
              <div class="text-center">
                  <h1>Привет!</h1>
                  <p>Вы пришли во вкладку банлист. В данной вкладке вы сможете просмотреть список игроков, которые получили наказание на нашем проекте.</p>
                  <p class="warning">Соблюдайте пожалуйста правила!</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="container">
  <div class="bl-list">
      <ul class="nav nav-justified nav-pills mb-2" id="pills-tab" role="tablist">
          <li class="nav-item bg-1">
              <a class="nav-link active" id="pills-mute-tab" data-toggle="pill" href="#pills-mute" role="tab" aria-controls="pills-mute" aria-selected="true">МУТЫ <% /* %><span class="badge badge-warning">4<% */ %></span></a>
          </li>
          <li class="nav-item bg-2">
              <a class="nav-link" id="pills-bans-tab" data-toggle="pill" href="#pills-bans" role="tab" aria-controls="pills-bans" aria-selected="false">БАНЫ <% /* %><span class="badge badge-warning">4<% */ %></span></a>
          </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">

          <div class="tab-pane fade show active" id="pills-mute" role="tabpanel" aria-labelledby="pills-mute-tab">
              <div class="player-list p-4 mb-5">
                  <table class="table table-dark table-hover table-borderless text-center p-4">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>ИГРОК</th>
                              <th>ЗАКНУТ</th>
                              <th>ПРИЧИНА</th>
                              <th>КОММЕНТАРИЙ</th>
                              <th>ВРЕМЯ ПОЛУЧЕНИЯ</th>
                              <th>ВРЕМЯ ОКОНЧАНИЯ</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% mutes.forEach((user) => { %>
                          <% if (user.time == 0) { %>
                            <% var perm = "никогда"; %>
                            <% } else { %>
                              <% var enddate = moment(new Date(Number(user.time))).utcOffset(3).locale('ru').format('lll'); %>
                              <% } %>
                                  <% if (user.reason == null) { %>
                                    <% var srvundef = "неизвестно"; %>
                                    <% }%>
                                      <% if (user.admin == "CONSOLE") { %>
                                        <% var srvconsole = "консоль"; %>
                                          <% }%>
                          <tr>
                              <td><%- user.id || "N/D" %></td>
                              <td><%- user.username || "неизвестно" %></td>
                              <td><%- srvconsole || user.admin || "неизвестно" %></td>
                              <td><%- user.reason || "неизвестно" %></td>
                              <td><%- user.comment || "неизвестно" %></td>
                              <td><%- moment(new Date(Number(user.expire))).utcOffset(3).locale('ru').format('lll') || "неизвестно" %></td>
                              <td><%- perm || enddate || "неизвестно" %></td>
                          </tr>
                          <% }); %>
                      </tbody>
                  </table>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-bans" role="tabpanel" aria-labelledby="pills-bans-tab">
              <div class="player-list p-4 mb-5">
                  <table class="table table-dark table-hover table-borderless text-center p-4">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>ИГРОК</th>
                              <th>ЗАБАНЕН</th>
                              <th>ПРАВИЛО</th>
                              <th>КОММЕНТАРИЙ</th>
                              <th>ВРЕМЯ ПОЛУЧЕНИЯ</th>
                              <th>ВРЕМЯ ОКОНЧАНИЯ</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% bans.forEach((user) => { %>
                          <% if (user.time == 0) { %>
                            <% var perm = "никогда"; %>
                            <% } else { %>
                              <% var enddate = moment(new Date(Number(user.time))).utcOffset(3).locale('ru').format('lll'); %>
                              <% } %>
                                  <% if (user.reason == null) { %>
                                    <% var srvundef = "неизвестно"; %>
                                    <% }%>
                                      <% if (user.admin == "CONSOLE") { %>
                                        <% var srvconsole = "консоль"; %>
                                          <% }%>
                          <tr>
                              <td><%- user.id || "N/D" %></td>
                              <td><%- user.username || "неизвестно" %></td>
                              <td><%- srvconsole || user.admin || "неизвестно" %></td>
                              <td><%- user.reason || "неизвестно" %></td>
                              <td><%- user.comment || "неизвестно" %></td>
                              <td><%- moment(new Date(Number(user.expire))).utcOffset(3).locale('ru').format('lll') || "неизвестно" %></td>
                              <td><%- perm || enddate || "неизвестно" %></td>
                          </tr>
                          <% }); %>
                      </tbody>
                  </table>
              </div>
          </div>


      </div>
  </div>

</section>
<%- include('_footer.ejs') %>
