<%- include('_header.ejs', { title: `Бан-лист сервера`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;" class="w-70 mx-auto window breakpoint-768-i">
        <h5>Список наказаний</h5>
        <br><div class="table table-responsive">
            <div class="table-header">
                <div class="table-row">
                    <div style="color: white;" class="table-cell-resp">Никнейм нарушителя</div>
                    <div style="color: white;" class="table-cell">Никнейм нарушителя</div>
                    <div style="color: white;" class="table-cell-resp">Никнейм модератора</div>
                    <div style="color: white;" class="table-cell">Никнейм модератора</div>
                    <div style="color: white;" class="table-cell-resp">Комментарий модератора</div>
                    <div style="color: white;" class="table-cell">Комментарий модератора</div>
                    <div style="color: white;" class="table-cell-resp">Сервер получения</div>
                    <div style="color: white;" class="table-cell">Сервер получения</div>
                    <div style="color: white;" class="table-cell-resp">Начало наказания</div>
                    <div style="color: white;" class="table-cell">Начало наказания</div>
                    <div style="color: white;" class="table-cell-resp">Конец наказания</div>
                    <div style="color: white;" class="table-cell">Конец наказания</div>
                </div>
            </div>

            <div class="table-body">
                <% bans.forEach((user) => { %>
                  <% if (user.time == 0) { %>
                    <% var perm = "никогда"; %>
                    <% } else { %>
                      <% var enddate = moment(new Date(Number(user.until))).utcOffset(3).locale('ru').format('lll'); %>
                      <% } %>
                      <% if (user.type == "BAN") { %>
                        <% var ban = "бан"; %>
                        <% }%>
                          <% if (user.server_origin == null) { %>
                            <% var srvundef = "неизвестно"; %>
                            <% }%>
                              <% if (user.banned_by_name == "Console") { %>
                                <% var srvconsole = "консоль"; %>
                                  <% }%>
                    <div class="table-row">
                        <div style="background-color: black; color: white;" class="table-cell-resp">Никнейм нарушителя</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- history.find(h => h.uuid == user.uuid).name || "Неизвестно" %></div>
                        <div style="background-color: black; color: white;" class="table-cell-resp">Никнейм модератора</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- srvconsole || user.banned_by_name %></div>
                        <div style="background-color: black; color: white;" class="table-cell-resp">Комментарий модератора</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- user.reason %></div>
                        <div style="background-color: black; color: white;" class="table-cell-resp">Сервер получения</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- srvundef || user.server_origin %></div>
                        <div style="background-color: black; color: white;" class="table-cell-resp">Начало наказания</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- moment(new Date(Number(user.time))).utcOffset(3).locale('ru').format('lll') %></div>
                        <div style="background-color: black; color: white;" class="table-cell-resp">Конец наказания</div>
                        <div style="background-color: black; color: white;" class="table-cell"><%- perm || enddate %></div>
                    </div>
                <% }); %>
            </div>
            </div>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('_footer.ejs') %>
