<%- include('../_header.ejs', { title: `Админ-панель`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;" class="w-70 mx-auto window breakpoint-768-i">
            <h5>Управление пользователями</h5>
            <br><div class="table table-responsive">
                <div class="table-header">
                    <div class="table-row">
                        <div style="color: white;" class="table-cell-resp">ID</div>
                        <div style="color: white;" class="table-cell">ID</div>
                        <div style="color: white;" class="table-cell-resp">Логин аккаунта</div>
                        <div style="color: white;" class="table-cell">Логин аккаунта</div>
                        <div style="color: white;" class="table-cell-resp">VKID</div>
                        <div style="color: white;" class="table-cell">VKID</div>
                        <div style="color: white;" class="table-cell-resp">UUID аккаунта</div>
                        <div style="color: white;" class="table-cell">UUID аккаунта</div>
                        <div style="color: white;" class="table-cell-resp">Ранг аккаунта</div>
                        <div style="color: white;" class="table-cell">Ранг аккаунта</div>
                        <div style="color: white;" class="table-cell-resp">Количество монеток</div>
                        <div style="color: white;" class="table-cell">Количество монеток</div>
                    </div>
                </div>

                <div class="table-body">
                    <% accounts.forEach((user) => { %>
                        <div class="table-row">
                            <div style="background-color: black; color: white;" class="table-cell-resp">ID</div>
                            <div style="background-color: black; color: white;" class="table-cell"><%- user.id %></div>
                            <div style="background-color: black; color: white;" class="table-cell-resp">Логин аккаунта</div>
                            <div style="background-color: black; color: white;" class="table-cell"><%- (user.access == 4) ? user.login : `<a href="/panel/admin/${user.login}">${user.login}</a>` %></div>
                            <div style="background-color: black; color: white;" class="table-cell-resp">VKID</div>
                            <div style="background-color: black; color: white;" class="table-cell"><a href="https://vk.com/id<%- user.vk %>" target="_blank"><%- user.vk %></a></div>
                            <div style="background-color: black; color: white;" class="table-cell-resp">UUID аккаунта</div>
                            <div style="background-color: black; color: white;" class="table-cell"><%- (user.uuid == null) ? "Нет данных" : user.uuid %></div>
                            <div style="background-color: black; color: white;" class="table-cell-resp">Ранг аккаунта</div>
                            <div style="background-color: black; color: white;" class="table-cell"><%- (user.access == 0) ? "Игрок" : (user.access == 1) ? "Хелпер" : (user.access == 2) ? "Модератор" : (user.access == 3) ? "Администратор" : (user.access == 4) ? "Разработчик" : "Неизвестно" %></div>
                            <div style="background-color: black; color: white;" class="table-cell-resp">Количество монеток</div>
                            <div style="background-color: black; color: white;" class="table-cell"><%- user.balance %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <br><a href="/panel/newUser" class="btn">Создать пользователя</a> <a href="/panel/console" class="btn">Консоль сервера</a>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>