<%- include('../_header.ejs', { title: `Применить ${(type == "skin") ? "скин" : (type == "cloak") ? "плащ" : "хз-что"}`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
    <span class="white-color">
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;">
            <h5>Применить <%- (type == "skin") ? "скин" : (type == "cloak") ? "плащ" : "хз-что" %></h5>
            <br><p>
                Вы действительно хотите применить к своему аккаунту <%- (type == "skin") ? "скин" : (type == "cloak") ? "плащ" : "хз-что" %> игрока <b><%- account[0].login %></b>?
                <br><%- (type == "skin") ? "Скин" : (type == "cloak") ? "Плащ" : "хз-что" %>: <a href="/<%- (type == 'skin') ? 'skin' : (type == 'cloak') ? 'cloak' : 'undefined' %>/<%- account[0].login %>" target="_blank">/<%- (type == 'skin') ? 'skin' : (type == 'cloak') ? 'cloak' : 'undefined' %>/<b><%- account[0].login %></b></a>
            </p><br><span style="color: red;"><b>ЭТО ДЕЙСТВИЕ НЕОБРАТИМО. ВАШ <%- (type == "skin") ? "СКИН" : (type == "cloak") ? "ПЛАЩ" : "хз-что" %> БУДЕТ УТЕРЯН ИЗ БАЗЫ ДАННЫХ, И ЗАМЕНЁН НА ВЫБРАННОГО ИГРОКА.</b></span>
            <br><br><a href="/panel/apply/<%- account[0].login %>?type=<%- (type == 'skin') ? 'skin' : (type == 'cloak') ? 'cloak' : 'undefined' %>&accept=true" class="btn">Да, я понимаю, я хочу установить <%- (type == "skin") ? "скин" : (type == "cloak") ? "плащ" : "хз-что" %> игрока <b><%- account[0].login %></b></a>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>