<%- include('../_header.ejs', { title: `Данные аккаунта`, userLogin: userLogin }) %>
<section class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="launcher-block mb-5 p-4">
                <div class="container">
                    <div class="launcher-text text-left">
                        <ul>
                            <li>Логин аккаунта: <span><%- account.login %></span></li>
                            <li>Ранг игрока: <span><%- userGroups[userGroup[0][0].primary_group] %></span></li>
                            <li>Ключ сессии аккаунта: <span><%- account.lk_cookie %></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="launcher-block mb-5 p-4">
                <div class="container">
                    <div class="launcher-text text-center">
                        <p class="">Передавайте ключ только боту <span><strong>RangeMC</strong></span> в <span>Discord</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../_footer.ejs') %>