<%- include('../_header.ejs', { title: `Личный кабинет`, userLogin: userLogin }) %>
<section class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-3">
            <div class="skins-block mb-3">
                <div class="container">
                    <div class="skins--block">
                        <center>
                            <div class="model-skin">
                                <div class="pt-4">
                                    <img src="https://skins.rangemc.ovh/body/<%- account.login %>.png" alt="" width="65%">
                                </div>
                            </div>
                            <div class="">
                                <div class="btn-padding">
                                    <button type="button" class="btn btn-download" data-toggle="modal" data-target="#changeSkin">Изменить скин</button>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="infos-block-height-1 mb-3 p-4">
                        <div class="info-player">
                            <div class="container">
                                <div class="row">
                                    <ul class="nicks-block mr-2">
                                        <li class="">
                                            <p>Никнейм</p>
                                        </li>
                                        <li class="">
                                            <p><strong><%- account.login %></strong></p>
                                        </li>
                                    </ul>
                                    <ul class="status-block mr-2">
                                        <li class="">
                                            <p>Статус</p>
                                        </li>
                                        <li class="">
                                            <p><strong><%- userGroups[userGroup[0][0].primary_group] %></strong></p>
                                        </li>
                                    </ul>
                                    <ul class="money-block mr-2">
                                        <li class="">
                                            <p class="">Монетки</p>
                                        </li>
                                        <li class="">
                                            <p><strong><%- account.balance %></strong></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-player">
                            <div class="container pl-4">
                                <button type="button" class="btn btn-cape mr-2" data-toggle="modal" data-target="#changeCloak">Сменить плащ</button>
                                <button type="button" class="btn btn-donate mr-2" data-toggle="modal" data-target="#buyDonate">Купить донат</button>
                                <button type="button" class="btn btn-password mr-2" data-toggle="modal" data-target="#changePass">Сменить пароль</button>
                                <a class="mr-2" href="/panel/logout"><button type="button" class="btn btn-leave-akk">Выйти с аккаунта</button></a>
                                <%- (["admin"].includes(userGroup[0][0].primary_group)) ? `<button type="button" class="btn btn-i-cog" data-toggle="modal" data-target="#systemInfo"><i class="fa fa-cog"></i></button> ` : "" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="infos-block-height-2 mb-3">
                        <div class="container">
                            <div class="p-4">
                            <% function isEmptyObject(obj) { %>
                                <% for (var key in obj) { %>
                                    <% if (Object.prototype.hasOwnProperty.call(obj, key)) { %>
                                        <%  return false; %>
                                        <% } %> 
                                        <% } %>
                                        <% return true; %>
                                        <% } %>
                            <% if (isEmptyObject(bans)) { %>
                                <p class="text-success">Блокировок на вашем аккаунте не обнаружено, спасибо за честную игру :)</p>
                                <p class="text-success">Чтобы никогда их не получать, рекомендуем ознакомиться с <a target="_blank" href="https://wiki.rangemc.ovh/info/rules">правилами</a> проекта. Если же вы заметите нарушение правил со стороны других игроков, используйте команду /report или напишите в нашу <a target="_blank" href="https://vk.com/rangemc_dev">группу разработчиков</a> для подачи жалобы.</p>
                            <% } else {%>
                                <% bans.forEach((user) => { %>
                                    <% if (user.time == 0) { %>
                                      <% var perm = "никогда не закончится"; %>
                                      <% } else { %>
                                        <% var enddate = moment(new Date(Number(user.time))).utcOffset(3).locale('ru').format('lll'); %>
                                        <% } %>
                                        <% if (user.punishmentType == "BAN") { %>
                                            <% var ban = "бан"; %>
                                            <% }%>
                                              <% if (user.type == "TEMPBAN") { %>
                                                <% var type = "временная блокировка"; %>
                                                <% var ending = ", которая закончится в " + enddate; %>
                                                <% var color = "text-warning"; %>
                                                <% var info = "Чтобы убрать статус временной блокировки из личного кабинета и списка наказаний, после её окончания вам необходимо хоть раз зайти на сервер." %>
                                                 <% }%>
                                                 <% if (user.type == "BAN") { %>
                                                    <% var type = "постоянная блокировка"; %>
                                                    <% var color = "text-danger"; %>
                                                    <% var info = "Данную блокировку может снять только администрация проекта. Если вы считаете что это ошибка, обратитесь в нашу группу ВКонтакте." %>
                                                     <% }%>
                                                        <% if (user.reason == null) { %>
                                                        <% var srvundef = "неизвестно"; %>
                                                        <% }%>
                                                            <% if (user.admin == "CONSOLE") { %>
                                                            <% var srvconsole = "консолью"; %>
                                                                <% }%>
                                <p class="<%- color %>">У вас имеется <%- type || "неизвестная" %>, выданная <%- srvconsole || user.admin || "неизвестным игроком" %> в <%- moment(new Date(Number(user.expire))).utcOffset(3).locale('ru').format('lll') || "неизвестно" %> за <%- "нарушение правила " + user.reason || "неизвестно" %><%- ending || "." %></p>
                                <p class="<%- color %>"><%- info %></p>
                                <% }); } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




<section class="container">
    <div class="player-list p-4 mb-5">
        
        <table class="table table-dark table-hover table-borderless text-center p-4">
            <thead>
                <tr>
                    <% if (userGroup[0][0].primary_group == "admin") { %>
                        <th>ID</th>
                        <th>ЛОГИН</th>
                        <th>VKID</th>
                        <th>UUID</th>
                        <th>МОНЕТКИ</th>
                        <th>УСТАНОВИТЬ</th>
                    <% } else { %>
                        <th>ID</th>
                        <th>ЛОГИН АККАУНТА</th>
                        <th>КОЛИЧЕСТВО МОНЕТОК</th>
                        <th>УСТАНОВИТЬ СКИН/ПЛАЩ</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% accounts.forEach((user) => { %>
                <tr>
                    <% if (userGroup[0][0].primary_group == "admin") { %>
                        <td><%- user.id %></td>
                        <td><a href="/panel/admin/<%- user.login %>"><%- user.login %></a></td>
                        <td><%- user.vk %></td>
                        <td><%- user.uuid %></td>
                        <td><%- user.balance %></td>
                        <td><a href="/panel/apply/<%- user.login %>?type=skin&accept=true">Скин</a> | <a href="/panel/apply/<%- user.login %>?type=cloak&accept=true">Плащ</a></td>
                    <% } else { %>
                        <td><%- user.id %></td>
                        <td><%- user.login %></td>
                        <td><%- user.balance %></td>
                        <td><a href="/panel/apply/<%- user.login %>?type=skin&accept=true">Скин</a> | <a href="/panel/apply/<%- user.login %>?type=cloak&accept=true">Плащ</a></td>
                    <% } %>
                </tr>
                <% }); %>
            </tbody>
        </table>


    </div>
</section>


<section class="container">
    <div class="launcher-block mb-5 p-4">
        <div class="launcher-text text-center">
            <p>Инструкцию по запуску лаунчера можно посмотреть здесь: <a href="https://wiki.rangemc.ovh/launcher/usage" target="_blank"><span>клик</span></a></p>
            <p>Выберите платформу: <a href="https://launcher.rangemc.ovh/RangeMC.exe">WINDOWS</a> <a href="https://launcher.rangemc.ovh/RangeMC.jar">MACOS</a> <a href="https://launcher.rangemc.ovh/RangeMC.jar">LINUX</a></p>
        </div>
    </div>
</section>


<!-- Modal Skin -->
<div class="modal fade" id="changeSkin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Смена скина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/panel/skin" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                <p>Скин должен быть в формате *.png <br> Размеры скина должны быть 64х32 или 64x64 пикселей (макс. 1МБ)</p>
                <input type="file" name="skin" id="form-1" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Установить</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Cloak -->
<div class="modal fade" id="changeCloak" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Смена плаща</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/panel/cloak" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
                <p>Плащ должен быть в формате *.png <br> Размеры плаща должны быть 22х17 или 64х32 пикселей</p>
                <input type="file" name="cloak" id="form-1" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Установить</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Password -->
<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Смена пароля</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/panel/password" method="POST">
          <div class="modal-body">
                <label for="form-1" class="text-white text-left"><a class="text-dark">Старый пароль</a></label>
                <input type="password" id="form-1" name="passold" class="form-control" placeholder="Старый пароль" required>
                <br>
                <label for="form-2" class="text-white text-left"><a class="text-dark">Новый пароль</a></label>
                <input type="password" id="form-2" name="passnew" class="form-control" placeholder="Новый пароль" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Установить</button>
          </div>
        </form>
        </div>
      </div>
</div>

<!-- Modal Donate -->
<div class="modal fade" id="buyDonate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Покупка привилегии</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <script>
            var TrademcAPI = {};
            (function(self){
                var SCI_ADDRESS = 'https://pay.trademc.org/',
                    API_ADDRESS = 'https://api.trademc.org/',
                    API_VERSION = 3;
                
                var defaultStylesPath = API_ADDRESS + '/widgets/v1/',
                    userStyles = [];
                    
                self.GetOnline = function(params){
                    params = extend(params, {
                        Shop: 1,
                        TextMask: 'Онлайн: {players} из {max_players}. Версия {version}',
                        UIColor: '#333',
                        Styles: defaultStylesPath + 'online.css',
                        PastPlaceID: 'trademc-online'
                    });
                    
                    loadCss(params.Styles);
                    getJSON('getOnline', { shop: params.Shop }, function(data){
                        console.log(params);
                        
                        var message,
                            container = document.getElementById(params.PastPlaceID),
                            blockStatus = '';
                        
                        if(data.response){
                            message = params.TextMask
                                .replace(/{players}/g, data.response.players)
                                .replace(/{max_players}/g, data.response.max_players)
                                .replace(/{version}/g, data.response.version);
                            
                            var perc = parseFloat(data.response.players / data.response.max_players * 100).toFixed(2);
                            
                            blockStatus = '\
                                <div class="trademc-online-progressbar">\
                                    <div class="trademc-online-progressbar-line" style="background-color:' + params.UIColor + '; width:' + perc + '%"></div>\
                                </div>';
                        } else {
                            message = data.error.message;
                        }
                        
                        var html = '\
                            <div style="color:' + params.UIColor + '" class="trademc-online">\
                                <p class="trademc-online-description">' + message + '</p>\
                                ' + blockStatus + '\
                            </div>';

                        container.innerHTML = html;
                    });
                }
                
                self.GetBuyForm = function(params){
                    params = extend(params, {
                        Shop: 1,
                        Title: 'Купить донат',
                        Nickname: 'Введите ваш никнейм',
                        Items: 'Выберите товар',
                        Coupon: 'Введите купон, если есть',
                        Button: 'Продолжить',
                        Success_URL: 'https://trademc.org',
                        Pending_URL: 'https://trademc.org',
                        Fail_URL: 'https://trademc.org',
                        Styles: defaultStylesPath + 'buyform.css',
                        PastPlaceID: 'trademc-buyform'
                    });
                    
                    loadCss(params.Styles);
                    getJSON('getItems', { shop: params.Shop }, function(data){
                        var container = document.getElementById(params.PastPlaceID);
                            
                        if(data.error) {
                            container.innerHTML = data.error.message;
                            return;
                        }
                            
                        var html = '',
                            fieldsList = {};
                        
                        for (var i = 0; i < data.response.categories.length; i++) {
                            var itemsHtml = '';
                            
                            for (var n = 0; n < data.response.categories[i].items.length; n++) {
                                var item = data.response.categories[i].items[n];
                                
                                itemsHtml += '<option value="' + item.id + '">' + item.name + (item.sale ? ' (-' + item.sale.percent + '%)' : '') + ' — ' + item.cost + ' Р</option>';
                                
                                if(item.fields) {
                                    fieldsList[item.id] = '';
                                    
                                    for(var j = 0; j < item.fields.length; j++) {
                                        fieldsList[item.id] += '<input maxlength="64" name="user_fields[' + item.id + '][' + item.fields[j].id + ']" class="trademc-buyform-input" placeholder="' + item.fields[j].placeholder + '">';
                                    }
                                }
                            }
                            
                            if(data.response.categories.length == 1 && data.response.categories[0].id == 0)
                                html += itemsHtml;
                            else
                                html += '<optgroup label="' + data.response.categories[i].name +'">' + itemsHtml + '</optgroup>';
                        }                 
          
                        html = '\
                            <form class="trademc-buyform-form">\
                            <div class="modal-body">\
                                        <input type="hidden" id="form-1" name="buyer" class="form-control" value="<%- account.login %>" disabled required>\
                                            <label for="form-2" class="text-white text-left"><a class="text-dark">Выберите донат</a></label>\
                                            <select id="form-2" class="form-control" name="items" required>\
                                                <option disabled selected>' + params.Items + '</option>\
                                                ' + html + '\
                                            </select>\
                                        <br>\
                                        <div class="trademc-buyform-userfields"></div>\
                                        <label for="form-3" class="text-white text-left"><a class="text-dark">' + params.Coupon + '</a></label>\
                                        <input id="form-3" name="coupon" class="form-control" placeholder="' + params.Coupon + '">\
                                    </div>\
                                    <div class="modal-footer">\
                                        <button type="submit" class="btn btn-primary buyform-button">' + params.Button + '</button>\
                                        <div class="buyform-error"></div>\
                                    </div>\
                                </form>\
                            </div>\
                        </div>\
                    </div>\
                </div>';
                        
                        container.innerHTML = html;
                        
                        addEvent('.trademc-buyform-select > select', 'change', function(){
                            var userFields = this.parentNode.parentNode.querySelector('.trademc-buyform-userfields');
                            userFields.innerHTML = '';
                            
                            var id = this.value;
                            if(fieldsList.hasOwnProperty(id))
                                userFields.innerHTML = fieldsList[id];
                        });

                        addEvent('.trademc-buyform-form', 'submit', function(e){
                            e = e || window.event;
                            e.preventDefault();
                            
                            var form = this,
                                button = form.querySelector('.buyform-button'),
                                errorBlock = form.querySelector('.buyform-error');
                            
                            if(button.classList.contains('load'))
                                return;
                                
                            button.classList.add('load');
                            errorBlock.innerHTML = '';
                            
                            getJSON('buyItems', serialize(form), function(data){
                                button.classList.remove('load');
                                
                                if(data.error){
                                    errorBlock.innerHTML = data.error.message;
                                    return;
                                }
                                
                                var formParams = {
                                    success_url: params.Success_URL,
                                    pending_url: params.Pending_URL,
                                    fail_url: params.Fail_URL,
                                    cart_id: data.response.cart_id
                                };
                                
                                var body = document.getElementsByTagName("body")[0];

                                var form = document.createElement('form');
                                form.method = 'get';
                                form.style.display = 'none';
                                form.action = SCI_ADDRESS;
                                
                                for(var key in formParams) {
                                    if (!formParams.hasOwnProperty(key)) continue;
                                    form.innerHTML += '<input type="hidden" name="' + key + '" value="' + formParams[key] + '">';
                                }
                                
                                body.appendChild(form);
                                form.submit();
                            });
                        });
                        
                        function addEvent(element, event, callback){
                            element = document.querySelectorAll('#' + params.PastPlaceID + ' ' + element);
                            for (var i = 0; i < element.length; i++){
                                element[i].addEventListener(event, callback);
                            }
                        }
                    });
                }
                
                function getJSON(method, params, callback){
                    params.v = API_VERSION;
                    var stringParams = Object.keys(params).map(function(key){ 
                        return key + '=' + encodeURIComponent(params[key]); 
                    }).join('&');
                    
                    var XHR = window.XDomainRequest || window.XMLHttpRequest;
                    var xhr = new XHR();
                    
                    xhr.open('GET', API_ADDRESS + 'shop.' + method + '?' + stringParams, true);
                    xhr.onload = function(){
                        var answer = JSON.parse(xhr.responseText);
                        callback(answer);
                    }
                    xhr.onerror = function() {
                        callback({ error: { message: "Ошибка." } });
                    }
                    xhr.send();
                }
                
                function extend(target, source) {
                    if(!target)
                        return source;
                    
                    for (var key in source) {
                        if (typeof target[key] === 'undefined') {
                            target[key] = source[key];
                        }
                    }
                    
                    return target;
                }
                
                function loadCss(path){
                    if(userStyles.indexOf(path) != -1)
                        return;
                    
                    var style = document.createElement('link');
                    style.href = path;
                    style.type = 'text/css';
                    style.rel = 'stylesheet';
                    style.async = true;
                    document.getElementsByTagName('head')[0].appendChild(style);
                    
                    userStyles.push(path);
                }
                
                function serialize(form) {
                    var opt = null, result = {};
                    form = form || document.forms[0];
                
                    for (var i = 0; i < form.elements.length; ++i) {
                        var el = form.elements[i];
                        switch (el.tagName) {
                            case 'INPUT': {
                                switch (el.type.toLowerCase()) {
                                    case 'checkbox':
                                    case 'radio':
                                        if (el.checked)
                                            result[el.name] = el.value;
                                        break;
                                        
                                    case 'text':
                                    case 'password':
                                    case 'hidden':
                                        result[el.name] = el.value;
                                        break;
                                }
                                break;
                            }
                            case 'SELECT': {
                                opt = el.options[el.selectedIndex];
                                result[el.name] = opt.value || opt.innerText;
                                break;
                            }
                            case 'TEXTAREA': {
                                result[el.name] = el.value;
                                break;
                            }
                        }
                    }
                    
                    return result;
                }
                
            })(TrademcAPI);
        </script>
        <div id="trademc-buyform"></div>
        <script>TrademcAPI.GetBuyForm({"Shop":"<%- shop_id %>","Title":"Купить донат","Nickname":"Введите ваш никнейм","Item":"Выберите товар","Coupon":"Введите купон, если есть","Button":"Продолжить","Success_URL":"https://rangemc.ovh/panel/event?type=DonateSuccess","Pending_URL":"https://rangemc.ovh/panel/event?type=DonatePending","Fail_URL":"https://rangemc.ovh/panel/event?type=DonateError","PastPlaceID":"trademc-buyform"});</script>
        </div>
      </div>
</div>

<% if (userGroup[0][0].primary_group == "admin") { %>
<!-- Modal systemInfo -->
<div class="modal fade" id="systemInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Информация о системе</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <p>Платформа - <%- platform %></p>
                <p>Тип ОС - <%- type %> (<%- arch %>)</p>
                <p>Версия ОС - <%- release %></p>
                <p>Имя хоста - <%- hostname %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
</div>
<% } %>
<%- include('../_footer.ejs') %>
