<%- include('../_header.ejs', { title: `Админ-панель`, userLogin: userLogin }) %>
<div class="text-center">
    <span class="white-color">
        <div id="head" class="parallax">
            <h1>RangeMC Project</h1>
            <h3>Комплекс серверов Minecraft</h3>
        </div>
        <br><div style="padding: 20px 20px 20px 20px; background-color: black; color: white;">
            <h5>Управление пользователем</h5>
            <br><form action="/panel/editUser" method="POST"><div style="background-color: black; color: white;" class="w-50 mx-auto window breakpoint-768-i">
                <div class="input-block">
                    <label style="color: white;" for="form-1">Логин аккаунта</label>
                    <input type="text" value="<%- account.login %>" name="login" id="form-1" required>
                    <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                </div>

                <div class="input-block">
                    <label style="color: white;" for="form-2">Пароль к аккаунту</label>
                    <input type="text" value="<%- account.pass %>" name="pass" id="form-2" required>
                    <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                </div>

                <div class="input-block">
                    <label style="color: white;" for="form-3">Уровень доступа (на сайте)</label>
                    <select name="access" id="form-3" required aria-readonly="true" onclick="alert('Выдача ранга происходит из консоли сервера.')">
                      <option <%- (account.access == 0) ? "selected" : "" %> value="0">Игрок</option>
                      <option <%- (account.access == 1) ? "selected" : "" %> value="1">Хелпер</option>
                      <option <%- (account.access == 2) ? "selected" : "" %> value="2">Модератор</option>
                      <option <%- (account.access == 3) ? "selected" : "" %> value="3">Администратор</option>
                      <option <%- (account.access == 4) ? "selected" : "" %> value="4">Разработчик</option>
                    </select>
                    <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                </div>

                <div class="input-block">
                    <label style="color: white;" for="form-4">Блокировка аккаунта</label>
                    <select name="blocked" id="form-4" required>
                      <option <%- (account.blocked == 0) ? "selected" : "" %> value="0">Не заблокирован</option>
                      <option <%- (account.blocked == 1) ? "selected" : "" %> value="1">Заблокирован</option>
                    </select>
                    <div style="color: white;" class="input-helper">Данное поле является обязательным</div>
                </div>

                <div class="input-block">
                    <label style="color: white;" for="form-5">Кто пригласил его?</label>
                    <input type="text" value="<%- account.invited_by %>" name="invited_by" id="form-5">
                </div>

                <div class="input-block">
                    <label style="color: white;" for="form-6">VKID</label>
                    <input type="number" value="<%- account.vk %>" name="vk" id="form-6">
                </div>
    
                <div class="pt-20 text-center">
                    <button type="submit" style="background-color: cadetblue;" class="btn">Сохранить</button> <a style="background-color: brown;" class="btn" href="/panel/deleteUser?login=<%- account.login %>">Удалить аккаунт</a> <a style="background-color: red;" href="/panel/admin" class="btn">Назад</a>
                </div>
            </div></form>
        </div>
    </span>
    <section id="banner" class="parallax"></section>
</div>
<%- include('../_footer.ejs') %>