<%- include('../_header.ejs', { title: `Админ-панель`, userLogin: userLogin }) %>
<div class="container pt-3">
    <div class="edit-user p-4 mb-5">
    <h1>Изменение аккаунта <%- account.login %></h1>
  	<hr>
	<div class="row">
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Права выдаются через LuckPerms данной командой - <code>/lp user [никнейм] group switchprimarygroup [группа]</code>
        </div>
        
        <form action="/panel/editUser" method="POST" class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-3 control-label">Логин:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="login" id="form-1" placeholder="<%- account.login %>" value="<%- account.login %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Статус:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="<%- playerGroup[0][0].primary_group %>" value="<%- playerGroup[0][0].primary_group %>" required disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Пароль (в md5):</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="pass" id="form-2" placeholder="<%- account.pass %>" value="<%- account.pass %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Баланс:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="balance" id="form-3" placeholder="<%- account.balance %>" value="<%- account.balance %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">UUID игрока:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="uuid" id="form-4" placeholder="<%- account.uuid %>" value="<%- account.uuid %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">VKID (для бота ВК):</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" name="vk" id="form-5" placeholder="<%- account.vk %>" value="<%- account.vk %>" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Блокировка входа:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select name="blocked" id="form-6" class="form-control" required>
                  <option <%- (account.blocked == 0) ? "selected" : "" %> value="0">Не заблокирован</option>
                  <option <%- (account.blocked == 1) ? "selected" : "" %> value="1">Заблокирован</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button type="submit" class="btn btn-primary">Сохранить</button></a>
              <a href="/panel/deleteUser?login=<%- account.login %>"><button type="button" class="btn btn-danger">Удалить аккаунт</button></a>
              <a href="/panel"><button type="button" class="btn btn-secondary">Назад</button></a>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
</div>
<hr>
<%- include('../_footer.ejs') %>